<body>
  <style>
    body {background-color: lightsteelblue;}
  </style>
<% if @trips.user != current_user %>
  <% redirect "/trips/#{@trips.id}" %>
<%end%>
<h1>Update Trip</h1>

<form action="/trips/<%= @trips.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">

  <label>Change the Date?</label>
  <input type="text" name="date" value="<%=@trips.date%>">

  <label>Change the Location?</label>
  <input type="text" name="location" value="<%=@trips.location%>">

  <input type="submit" value="Update Trip">
</form>
</body>
