<h1><%=@trips.name%></h1>
<a href="/home">Home</a>
<% if @trips.user == current_user %>
	<a href="/trips/<%=@trips.id%>/edit">Edit Trip</a>
	<form action="/trips/<%=@trips.id%>" method="POST">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete Trip">
	</form>
<% end %>
