

<h1>Travelbug</h1>

	<h2>Welcome, <%= current_user.email %>! <a href="/logout">Logout</a></h2>
	<h3>Choose a trip to view more details or <a href="/trips/new">add</a> a new trip to your wish list!</h3>
	<h3>Check out your trips:</h3>

  <%@trips.each do |trip|%>
  		<li><a href="/trips/<%=trip.id%>"><%=trip.name%></a></li>
  		<%end%>
