

<h1>Travelbug</h1>

	<h2>Welcome, <%= current_user.email %>! <a href="/logout">Logout</a></h2>
	<h3>Select a destination to view its activities or add a <a href="/destinations/new">new destination</a>.</h3>
	<h3>All destinations:</h3>

<%end%>
