<body>
<style>
body {
  background-color: lightsteelblue;
}
</style>
<h1>Welcome to Travelbug!</h1>
<style>
  h1{text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
  font-size: 4em;
  padding: 35px;
  border-style: double;
  border-color: plum}
</style>
<h3>The new way to compile all your desired travel destinations in one place</h3>
  <style>
    h3{text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: black
    font-size: 3em;}
  </style>
  <br></br>
<a href="/signup">Sign Up</a> <br></br> <a href="/login">Log in</a>
  <style>
    h4:link {background-color: yellow;}
    a:visited {background-color: cyan;}
    a:hover {background-color: lightgreen;}
    a:active {background-color: hotpink;}
  </style>
</body>
